/*
====================================================
===============SECTION 2: THEME CSS=================
====================================================*/
 @import url("reset.css");
:root {
    --theme-bg-color: #f39c12;
    --theme-bg-header: #2d3436;  
    --theme-bg-list: rgba(243, 157, 18, 0.555) ;
    --theme-letter-color: white;
    --theme-color-letter-default: black;
}
/* header */
header{
    background-color: var(--theme-bg-header);
    margin-bottom: 5rem;    
}

header h1{
    text-align: center;
    color: var(--theme-letter-color);
    line-height: 6.5rem;
}

figure{
    max-width: 100rem;
    margin: 0 auto;
    border: solid .1rem white;
    padding: 1rem;
    background-color: var(--theme-letter-color);
    border-radius: 1rem;
}
figure img{
    display: inline-block ;
    max-width: 100%;
    border-radius: 1rem;
}

header section{
    text-align: center;
    color: var(--theme-letter-color);
    line-height: 6.5rem;
}
figure figcaption ul.list-movie{
    line-height: 4rem;
}
figure figcaption ul.list-movie li{
    padding: .4rem;

}
figure figcaption ul.list-movie li:nth-child(2n+1){ /*1/2 a parir du var*/
    background-color: black ;
    color: white;
    border-radius: 1rem;
}
figure figcaption ul.list-movie li:nth-child(2n+2){
    background-color: var(--theme-bg-list);
    color: black;
    border-radius: 1rem;
}
details.Adaptaion p  {
    line-height: 4rem;
    background-color: var(--theme-bg-list);
    border-radius: 1rem;
}
details.description {
    line-height: 3rem;
    background-color: black;
    color: white;
    padding-left: .4rem;
    padding-right: .4rem;
    padding-bottom: .4rem;
    border-radius: 1rem;
}
p{
    background-color: orange;
    color: black;
    border-radius: 1rem;
}
footer{
    text-align: center;
    color: var(--theme-bg-color);
    line-height: 4.5rem;
}
ion-icon{
    vertical-align: middle;
}
h2{
    background-color: rgb(239, 145, 3);
    color:black;
    border-radius: 1rem;
    margin-right: 77rem;
    text-align:center;
}
/* media queris */
@media screen and (max-width: 90rem) {
    figure figcaption ul{
        line-height: 3.5rem;
    }
    details p{
        text-align: justify;
    }
}
@media screen and (max-width: 120rem) {
    figure figcaption ul{
        line-height: 6rem;
    }
    details p{
        text-align: left;
    }
}

